@using System.Text.RegularExpressions
@model IEnumerable<IReporter.Web.ViewModels.Home.ArticleViewModel>
@{
    var pattern = new Regex("[^a-zA-Z0-9]");
}


@foreach (var article in Model)
{
    <div><a href="/articles/@article.Id-@pattern.Replace(@article.Title, "-")"><img src='../../Content/Images/@article.PrimaryImageUrl' width=200 height=150></a></div>
    <h5>@article.Title</h5>
    <small>by @article.Author.FirstName @article.Author.LastName <br />Rating: @article.Ratings</small>
    <hr />
}