@using IReporter.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IReporter</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("IReporter", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><span class="glyphicon glyphicon-home special-link"></span>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                <li><span class="fa fa-futbol-o special-link"></span>@Html.ActionLink(GlobalConstants.SportCategoryName, GlobalConstants.SportCategoryName, "ByCategory", new { area = string.Empty }, null)</li>
                <li><span class="glyphicon glyphicon-music special-link"></span>@Html.ActionLink(GlobalConstants.MusicCategoryName, GlobalConstants.MusicCategoryName, "ByCategory", new { area = string.Empty }, null)</li>
                <li><span class="fa fa-university special-link"></span>@Html.ActionLink(GlobalConstants.PoliticsCategoryName, GlobalConstants.PoliticsCategoryName, "ByCategory", new { area = string.Empty }, null)</li>
                <li><span class="glyphicon glyphicon-glass special-link"></span>@Html.ActionLink(GlobalConstants.EntertainmentCategoryName, GlobalConstants.EntertainmentCategoryName, "ByCategory", new { area = string.Empty }, null)</li>
                <li><span class="glyphicon glyphicon-briefcase special-link"></span>@Html.ActionLink(GlobalConstants.BusinessCategoryName, GlobalConstants.BusinessCategoryName, "ByCategory", new { area = string.Empty }, null)</li>
                <li><span class="glyphicon glyphicon-cog special-link"></span>@Html.ActionLink(GlobalConstants.TechCategoryName, GlobalConstants.TechCategoryName, "ByCategory", new { area = string.Empty }, null)</li>
                <li><span class="fa fa-comments-o special-link"></span>@Html.ActionLink(GlobalConstants.GossipCategoryName, GlobalConstants.GossipCategoryName, "ByCategory", new { area = string.Empty }, null)</li>
                <li><span class="glyphicon glyphicon-film special-link"></span>@Html.ActionLink(GlobalConstants.CinemaCategoryName, GlobalConstants.CinemaCategoryName, "ByCategory", new { area = string.Empty }, null)</li>
                @if (this.User.IsInRole(GlobalConstants.AuthorRoleName))
                {
                    <li><span class="glyphicon glyphicon-pencil special-link"></span>@Html.ActionLink(GlobalConstants.EditorsAreaName, "AddArticle", GlobalConstants.EditorsAreaName, new { area = GlobalConstants.EditorsAreaName }, null)</li>
                }
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <li><span class="glyphicon glyphicon-th-list special-link"></span>@Html.ActionLink(GlobalConstants.AdministratorsAreaName, "Index", GlobalConstants.AdministratorsAreaName, new { area = GlobalConstants.AdministratorsAreaName }, null)</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @if (this.TempData["Success"] != null)
    {
        <div class="alert alert-success">@this.TempData["Success"]</div>
    }
    @RenderSection("top", required: false)
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - IReporter</p>
    </footer>
</div>

@RenderSection("scripts", required: false) 
</body>
</html>
