@model IReporter.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Вицове</h1>
@Html.Kendo().DatePicker().Name("test")
<div class="row">
    @foreach (var article in Model.Articles)
    {
        <div class="col-md-4">
            <div>
                <h3>@article.Title</h3>
                <p>@article.Excerpt</p>
                @foreach (var c in article.Comments)
                {
                    <span>@c.Author.UserName</span>
                }
            </div>   
            <div>@article.Category</div>
        </div>
    }
</div>
<h1>Категории</h1>
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-2">
            @category.Name
        </div>
    }
</div>