@model IEnumerable<IReporter.Web.ViewModels.Home.ArticleViewModel>
@{
    int index = 1;
}

@foreach (var article in Model)
{
    <h4>@(index++). @article.Title <small>by @article.Author.FirstName @article.Author.LastName Rating: @article.Ratings</small></h4>
}